body{
    overflow: auto !important;
}

#dialog-select-base-language-and-target-language table,
#dialog-select-base-language-and-target-language table thead,
#dialog-select-base-language-and-target-language table tr,
#dialog-select-base-language-and-target-language table tr td {
    border: none !important;
}

#dialog-select-base-language-and-target-language #select-base-lang,
#dialog-select-base-language-and-target-language #select-target-lang{
    min-width: 238px;
}

#execute-progress-bar{
    width: 600px;
    height: 45px;
    border-radius: 3px;
    padding: 8px 10px 0px 10px;
    margin: auto;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background: aliceblue;
}

#dialog-translation-template-setting #content-template-setting table{
    max-width: none !important;
}

.aui-flag a {
    cursor: pointer;
}